$navLinkMargin: 3.3125rem;

.nav-links {
    &__link{
        &:not(:first-child):not(:last-child){
            margin-left: $navLinkMargin;
            margin-right: $navLinkMargin;
        }

        &--desktop {
            margin-left: calc($navLinkMargin/2);
            margin-right: calc($navLinkMargin/2);
        }

        &[class*="MuiLink"]{
            text-decoration: none;
            color: var(--black-900);
                
            &:hover {
                color: var(--green-500);
            }
        }
    }
}