:root{
    font-size: 16px;
    scroll-behavior: smooth;
    --border-radius: 5px;
    --button-padding: 15px 36px 15px 36px;
    --h1: 2.618125rem;
    --title: 1.618125rem;
    --body: 1rem;
    --btn-lg-font-size: 1.75rem;
    --btn-sm-font-size: var(--body);
    --gap: 10px;
    --btn-lg-line-height: 32.8px;
    --btn-sm-line-height: 21px;
    --black-900: #02293E;
    --green-500: #048104;

}

body{
    margin: 0;
}